# Allgemein ignorieren
*

# Projektdateien mit aufnehmen
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle
!LICENSE
!README.md
!src/
!src/**
!src/main/
!src/main/**
!src/main/java/
!src/main/java/**
!src/main/resources/
!src/main/resources/**
!src/main/resources/assets/
!src/main/resources/assets/**
!src/main/resources/fabric.mod.json
!src/main/resources/fogchanger.mixins.json
!src/main/resources/icon.png
!gradle/
!gradle/**

# Generierte bzw. lokale Dateien ignorieren
!.gitignore
.gradle/
build/
bin/
run/
.vscode/
.idea/
*.hprof
*.log
