# Alles standardmäßig ignorieren
*

# Nur den eigentlichen Source-Code und Projektinfo behalten
!README.md
!LICENSE
!src/
!src/**
!src/main/
!src/main/**
!src/main/java/
!src/main/java/**
!src/main/resources/
!src/main/resources/**
!src/main/resources/assets/
!src/main/resources/assets/**
!src/main/resources/fabric.mod.json
!src/main/resources/fogchanger.mixins.json
!src/main/resources/icon.png

# Lokale und generierte Dateien ignorieren
.gradle/
build/
bin/
run/
.vscode/
.idea/
*.hprof
*.log
